
body {
  display: flex;
  justify-content: center;
  width: 80%;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  padding-top: 2.5%;
  gap: 5%;  /* Adds space between elements */
}

.op-description-div-class {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.op-description-div-class > h4 {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.example-pre {
  /*font-family: 'Courier New', Courier, monospace;*/  /* Monospaced font */
  white-space: pre-wrap;   /* Preserves whitespace and wraps text */
  word-break: break-word;  /* Breaks long words to maintain alignment */
  overflow-x: hidden;      /* No horizontal scrollbar */
  overflow-y: auto;        /* Adds vertical scrollbar if needed */
  /*padding: 10px;*/
  width: 85%;              /* Sets width to 85% of the screen */
  max-width: 85%;
  box-sizing: border-box;
  tab-size: 4;             /* Consistent tab spacing */
  text-align: left;
  margin: 0 auto;          /* Centers the <pre> block */
}

.description-pre {
  /*font-family: 'Courier New', Courier, monospace;*/  /* Monospaced font */
  white-space: pre-line;   /* Preserves whitespace and wraps text */
  word-break: break-word;  /* Breaks long words to maintain alignment */
  overflow-x: hidden;      /* No horizontal scrollbar */
  overflow-y: auto;        /* Adds vertical scrollbar if needed */
  /*padding: 10px;*/
  width: 85%;              /* Sets width to 85% of the screen */
  max-width: 85%;
  box-sizing: border-box;
  tab-size: 4;             /* Consistent tab spacing */
  text-align: left;
  margin: 0 auto;          /* Centers the <pre> block */
}

.highlight_bit {
  color: red;            /* Change text color */
  font-size: 1.1em;      /* Slightly increase font size */
  font-weight: bold;
}

.highlight_bit_2 {
  color: blue;            /* Change text color */
  font-size: 1.1em;      /* Slightly increase font size */
  font-weight: bold;
}

.highlight_byte {            /* Change text color */
  font-size: 1.1em;      /* Slightly increase font size */
  font-weight: bold;
}

.important {
  color: blue;
  font-size: 1.1em;
  font-style: italic;
}