
<html>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}

<head>

    <title>

        AND BITWISE OPERATION

    </title>
    
    <link rel="stylesheet" href="{% static 'bitwiseOps/styles.css' %}">
    <script src="{% static 'bitwiseOps/jscript.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

        <div class="op-description-div-class" id="description-op-div-id">
            <h4>
                <pre>
The AND (&) bitwise operation is used to "clear" a bit,
bit clearing is changing a specific bit in a number to 0
without affecting the other bits.
                </pre>
            </h4>
        </div>

        <div class="op-div-class" id="op-div-id">
            <h5>
                <pre>
Example:

Number in 8 bits:   <span class="highlight_byte">00000111</span>   (7 in decimal)
Goal in 8 bits:     <span class="highlight_byte">00000101</span>   (5 in decimal)

To turn binary 7 into binary 5 we need to clear its second bit

<span class="highlight_byte">000001</span><span class="highlight_bit">1</span><span class="highlight_byte">1</span>

To do this we need a bit mask that looks like this:

<span class="highlight_byte">11111101</span>

To obtain this mask we will LEFT SHIFT 1 by two positions (1&lt;&lt;2):
this will give us this bit mask:

<span class="highlight_byte">00000010</span>

now we need to invert these bits by using NOT ~(1&lt;&lt;2)
this gives us the bit mask we need 

<span class="highlight_byte">111111</span><span class="highlight_bit">0</span><span class="highlight_byte">1</span> 

and we can use AND to clear the second bit of 7:

7 & ~(1&lt;&lt;2)

This is what it looks like in C:

#include "stdio.h"

    int main() {
        uint8_t num = 7;   // Binary: 00000111
        num = num & ~(1&lt;&lt;2);  // 00000111 & 11111101
        printf("New number: %d\n", num); // Output: New number: 5
        return 0;
    }
                </pre>                        
            
            </h5>

        </div>

        <div>
            <h4>Interactive part</h4>
        </div>
        
    
</body>    
  
</html>