
<html>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}

<head>

    <title>

        LEFT SHIFT BITWISE OPERATION

    </title>
    
    <link rel="stylesheet" href="{% static 'bitwiseOps/styles.css' %}">
    <script src="{% static 'bitwiseOps/jscript.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <h2 id="titulo">LEFT SHIFT (<<)</h2>

    <div class="main-space-div-class" id="main-and-op">

        <div class="op-description-div-class" id="description-op-div-id">
            <h4>
                <pre>
                    The LEFT SHIFT (<<) bitwise operation is used to "shift" bits to the left,
                    bit shifting is changing the position of bits in a binary number.
                    The positions left empty by the bits that get shifted are filled with 0s,
                    the bits that get shifted out on the left of the binary number are discarded.
                    Mathematically, left shifting a number by n positions is the same as multiplying
                    that number by 2^n.

                </pre>
            </h4>
        </div>

        <div class="op-div-class" id="op-div-id">

            <div class="op-example-div-class" id="op-exmaple-div-1-id">
                <h5>
                    <pre>
                        Example:

                        Number in 8 bits:   00000100   (4 in decimal)

                        Lets left shift 4 by 3 positions (4<<3), this is the resulting binary:

                        00100000
                          ^  ^

                        This number is equal to 32 in decimal.

                        Mathematically: 4 * 2^3 = 4 * 8 = 32

                        This is what it looks like in C:

                        #include "stdio.h"

                            int main() {
                                uint8_t num = 4;   // Binary: 00000100
                                num = (num << 3);  // 00100000
                                printf("New number: %d\n", num); // Output: New number: 248
                                return 0;
                            }
                        
                        Example with discarded bits:

                        Number in 8 bits:   10000010   (130 in decimal)

                        Lets left shift 130 by 2 positions (130<<2), this is the resulting binary:

                        00001000

                        This number is equal to 8 in decimal.
                        
                        Notice how the bit in the eighth position with a value of 1 got discarded.

                        When bits are discarded the mathematical formula (number<<n) = number * 2^n
                        does not apply.

                    </pre>                    
                </h5>
            </div>

        </div>

        <div>
            <h4>Interactive part</h4>
        </div>
        

    </div>
    
</body>    
  
</html>