
<html>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}

<head>

    <title>

        LEFT SHIFT BITWISE OPERATION

    </title>
    
    <link rel="stylesheet" href="{% static 'bitwiseOps/styles.css' %}">
    <script src="{% static 'bitwiseOps/jscript.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-c.min.js"></script>

</head>

<body>

        <div class="op-description-div-class" id="description-op-div-id">
            <h4>
                <pre class="description-pre">
The LEFT SHIFT (&lt;&lt;) bitwise operation is used to "shift" bits to the left, bit shifting is changing the position of bits in a binary number.
The positions left empty by the bits that get shifted are filled with 0s, the bits that get shifted out on the left of the binary number are discarded.
Mathematically, left shifting a number by n positions is the same as multiplying that number by 2^n.

                </pre>
            </h4>
        </div>

        <div class="op-div-class" id="op-div-id">
                <h5>
                    <pre class="example-pre">
Example:

Number in 8 bits:   <span class="highlight_byte">00000100</span>   (4 in decimal)

Lets left shift 4 by 3 positions (4&lt;&lt;3), this is the resulting binary:

<span class="highlight_byte">00</span><span class="highlight_bit">1</span><span class="highlight_byte">00</span><span class="highlight_bit">0</span></span><span class="highlight_byte">00</span>

This number is equal to 32 in decimal.

Mathematically: 4 * 2^3 = 4 * 8 = 32

This is what it looks like in C:
<pre><code class="language-c">
#include "stdio.h"

    int main() {
        uint8_t num = 4;   // Binary: 00000100
        num = (num &lt;&lt; 3);  // 00100000
        printf("New number: %d\n", num); // Output: New number: 248
        return 0;
    }
</code></pre>
Example with discarded bits:

Number in 8 bits:   <span class="highlight_bit_2">1</span><span class="highlight_byte">00000</span><span class="highlight_bit">1</span><span class="highlight_byte">0</span>   (130 in decimal)

Lets left shift 130 by 2 positions (130&lt;&lt;2), this is the resulting binary:

<span class="highlight_byte">0000</span><span class="highlight_bit">1</span><span class="highlight_byte">000</span>

This number is equal to 8 in decimal.

Notice how the <span class="highlight_bit_2">bit in the eighth position</span> with a value of 1 got discarded.

When bits are discarded the mathematical formula (number&lt;&lt;n) = number * 2^n
does not apply.

                    </pre>                    
                </h5>

        </div>

        <div>
            <h4>Interactive part</h4>
        </div>
    
</body>    
  
</html>