
<html>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}

<head>

    <title>

        NOT BITWISE OPERATION

    </title>
    
    <link rel="stylesheet" href="{% static 'bitwiseOps/styles.css' %}">
    <script src="{% static 'bitwiseOps/jscript.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

    <h2 id="titulo">NOT (~)</h2>

    <div class="main-space-div-class" id="main-and-op">

        <div class="op-description-div-class" id="description-op-div-id">
            <h4>
                <pre>
                    The NOT (~) bitwise operation is used to "flip" a bit,
                    bit flipping will change all bits in a number to their opposite
                    (0 to 1, 1 to 0)
                </pre>
            </h4>
        </div>

        <div class="op-div-class" id="op-div-id">

            <div class="op-example-div-class" id="op-exmaple-div-1-id">
                <h5>
                    <pre>
                        Example:

                        Number in 8 bits:   00000111   (7 in decimal)

                        We will be flipping all the bits in the number 7
                        
                        with the NOT operation: ~(7) will give us 11111000
                        that is 248 in decimal

                        This is what it looks like in C:

                        #include "stdio.h"

                            int main() {
                                uint8_t num = 4;   // Binary: 00000111

                                num = ~(num);  // 11111000
                                printf("New number: %d\n", num); // Output: New number: 248
                                return 0;
                            }
                    </pre>                    
                </h5>
            </div>

        </div>

        <div>
            <h4>Interactive part</h4>
        </div>
        

    </div>
    
</body>    
  
</html>