
<html>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}

<head>

    <title>

        NOT BITWISE OPERATION

    </title>
    
    <link rel="stylesheet" href="{% static 'bitwiseOps/styles.css' %}">
    <script src="{% static 'bitwiseOps/jscript.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-c.min.js"></script>

</head>

<body>

        <div class="op-description-div-class" id="description-op-div-id">
            <h4>
                <pre class="description-pre">
The NOT (~) bitwise operation is used to "flip" a bit, bit flipping will change all bits in a number to their opposite (0 to 1, 1 to 0).
                </pre>
            </h4>
        </div>

        <div class="op-div-class" id="op-div-id">
                <h5>
                    <pre class="example-pre">
Example:

Number in 8 bits:   <span class="highlight_byte">00000111</span>   (7 in decimal)

We will be flipping all the bits in the number 7

with the NOT operation: ~(7) will give us <span class="highlight_byte">11111000</span>
that is 248 in decimal

This is what it looks like in C:
<pre><code class="language-c">
#include "stdio.h"

    int main() {
        uint8_t num = 4;   // Binary: 00000111

        num = ~(num);  // 11111000
        printf("New number: %d\n", num); // Output: New number: 248
        return 0;
    }
</code></pre>
                    </pre>                    
                </h5>

        </div>

        <div>
            <h4>Interactive part</h4>
        </div>

    
</body>    
  
</html>