
<html>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}

<head>

    <title>

        OR BITWISE OPERATION

    </title>
    
    <link rel="stylesheet" href="{% static 'bitwiseOps/styles.css' %}">
    <script src="{% static 'bitwiseOps/jscript.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-c.min.js"></script>

</head>

<body>

        <div class="op-description-div-class" id="description-op-div-id">
            <h4>
                <pre class="description-pre">
The OR (|) bitwise operation is used to "set" a bit, bit setting is changing a specific bit in a number to 1 without affecting the other bits.
                </pre>
            </h4>
        </div>

        <div class="op-div-class" id="op-div-id">
                <h5>
                    <pre class="example-pre">
Example:

Number in 8 bits:   <span class="highlight_byte">00001001</span>   (9 in decimal)
Goal in 8 bits:     <span class="highlight_byte">00001111</span>   (15 in decimal)

To turn binary 9 into binary 15 we need to set its second and third bits

<span class="highlight_byte">00001</span><span class="highlight_bit">00</span><span class="highlight_byte">1</span>

To do this we need a bit mask that looks like this:

<span class="highlight_byte">00000110</span>

To obtain this mask we will LEFT SHIFT 3 by one position (3&lt;&lt;1)
3 in binary is 00000011, if we shift it by one position to the left we get:

<span class="highlight_byte">00000</span><span class="highlight_bit">11</span><span class="highlight_byte">0</span>

now we can use OR to set the bits we need:

9 | (3&lt;&lt;1)

This is what it looks like in C:
<pre><code class="language-c">
#include "stdio.h"

    int main() {
        uint8_t num = 9;   // Binary: 00001001
        num = num | (3&lt;&lt;1);  // 00001001 | 00000110
        printf("New number: %d\n", num); // Output: New number: 15
        return 0;
    }
</code></pre>
                    </pre>                    
                </h5>

        </div>

        <div>
            <h4>Interactive part</h4>
        </div>
    
</body>    
  
</html>